<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to Help!</title>
</head>

<body>
<u><h2><b>{{ welcome_msg }}</b></h2></u>
<br>
<br>
<b>
Thanks for checking out Updateme. We hope you love it!
Updateme is free and open source software under the [BSD License.](http://opensource.org/licenses/BSD-2-Clause) This means you're free to distribute Updateme to others, free of charge.
If you would love to see something in Updateme, you can make the contribution, if you wish.
Show your support for Updateme by suggesting a feature or reporting a bug at our [GitHub page].
We've got a lot planned for updateme - join us on our journey!
    </b>
<br>
<br>
<b> The date is {{ date }}</b> <br>
<br>
<b>Select an option to start-:</b>
<br>
<ul>
    <li><a href = 'introduction/'>Introduction</a></li>
    <li><a href = 'intro_blog/'>How to use the Blog section?</a></li>
    <li><a href = 'intro_contact/'>How to use the contact section?</a></li>
    <li><a href = 'intro_report_error/'>How to report an error?</a></li>
    <li><a href = 'intro_contribute/'>How to contribute to updateme</a></li>
    <li><a href = 'about/'>About the developers</a></li>
    <br>
    <br>
    <li><a href = 'submit_feature'>Request a new feature</a></li>
</ul>
</body>
</html>