<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to Blog!</title>
</head>
<body>
<a href="/">UPDATEME HOME</a>
<br>
<b><h1><u>Welcome to Blog! Here you can write your views and send it for approving it.</u></h1></b>
<br>
<form action = 'add/' method = 'get'>
    <b><u>Write anything, Feel free</u></b>
    <br>
   <b>Name of the author:</b> <input type = 'text' name = 'author'>
      <br>
    <b>Email:</b> <input type="email" name = 'email'>
    <br>
    <br>
    <b>Write here:</b>
    <br>
     <textarea rows="40" cols="30" name = 'blog'></textarea>
      <input type = 'submit' value = 'Approve!'>
      </form>

<br>
<hr>
<form action = 'report_an_error/'>
    <b>Spotted an error!</b>
    <input type = 'submit' value = 'Report an Error!'>
    <br>
</form>
<hr>
<b><i><u> &copy; COPYRIGHT 2014 Aadit Kapoor</u></i></b>
</body>
</html>