<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact Us!</title>
</head>
<body>
<b><h1><u>Welcome to Contact Us!</u></h1></b>
<br>
<br>

<form action = '/contact/contact_request/' method = 'POST'>
    {% csrf_token %}
    <strong>
    <b> Name: </b> <input type = 'text' name = 'name_contact'>
    <br>
    <b>Email: </b> <input type = 'email' name = 'email_contact'>
    <br>
    <b>Phone number: </b> <input type = 'text' name = 'phone_contact'>
    <br>
     ScreenShot: <input type = 'file' name = 'upload'>
        <br>
    <b>Message: </b>
    <textarea rows="10" cols="30" name = 'message_contact'>
    </textarea>
    <br>
    <input type = 'submit' value = 'Contact Us'>
    <br>
        </strong>
</form>
</body>
</html>