<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
<b><i><u><strong><h1>Search results for {{ search_item }}</h1></strong></u></i></b>
<br>
{% if status %}
  <b>Section {{ search_item }}: Found! <u>URL YOU CAN REDIRECT TO : <a href= {{ url_link }}> {{ url_name }}</a></u></b>
{% else %}
 <b> Section {{ search_item }}: Not found!</b>
{% endif %}

<form action = '/'>
    <input type = 'submit' value = 'Go back!'>
    <br>
</form>
</body>
</html>